body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: auto;
    margin: 50px;
    text-align: justify;
}

header {
    text-align: center;
    text-transform: uppercase;
    background-color: #f2f2f2;
}

.logo{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-top: 20px;
}

article a img{
    width: 25%;
    height: auto;
    object-fit: cover;
}

.tablaProductos {
    width: 100%;
    table-layout: fixed;
}

.tablaProductos th:first-child,
.tablaProductos td:first-child {
    width: 8%;
}

.tablaProductos tbody tr td img {
    width: 100%;
    max-width: 70px;
    height: auto;
    display: block;
    margin: 0 auto;
    object-fit: contain;
}

@media (width <= 500px){
    .tablaProductos th:first-child,
    .tablaProductos td:first-child {
        width: 15%;
    }
}